<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="index1.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title> Crypto web</title>
</head>
<body>


    <div id="section1" style="background-image:url('https://res.cloudinary.com/dqrqdhk6g/image/upload/v1677298243/mainpageimg_deo8bk.jpg');height:100vh;background-size:cover;}">
        <div class="shadow m-3  d-flex flex-column justify-content-center">
            <div class="card shadow m-3" style="background-color:rgba(0,0,0,.5);color:#fff;">
                <div class="text-center p-5">
                    <div>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLitz6xaeKVCe7npkNmWppjwpeLnNP_bUWNQ&usqp=CAU" style="height:60px;width:70px;" class="rounded-circle"/>
                    </div>
                    <h1>Log in</h1>
                    <p>Username : <input></p>
                    <p>Password : <input type="password"></p>
                    <div>
                        <button class="btn btn-warning" onclick="display('section2')">Get Started</button>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div id="section2">
        <nav class="navbar bg-body-tertiary bg-dark navbar-white fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand"><img src="https://thumbs.dreamstime.com/b/default-avatar-profile-flat-icon-social-media-user-vector-portrait-unknown-human-image-default-avatar-profile-flat-icon-184330869.jpg" class=" rounded-circle" style="height:30px"/></a>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        </nav>
        <br>
        <br>
        <div style="background-color:black;" class="pt-5 text-center">
          <h1 style="color:white">Select the Crypto Currency:</h1>
          <div>
            <button class="btn btn-warning" onclick="display('sectionMain')">Bitcoin</button>
            <button class="btn btn-warning" onclick="display('sectionMain')">Ethereum</button>
            <button class="btn btn-warning" onclick="display('sectionMain')">Tether</button>
          </div>

         <div class="text-white text-left m-3">
              <h5 style="color:yellow">Latest news:</h5>
              <p>Crypto Price Today: Bitcoin falls below $23,900; Cardano, Polygon shed upto 4%</p>
              <p><a href="https://economictimes.indiatimes.com/markets/cryptocurrency/crypto-price-today-bitcoin-falls-below-23900-cardano-polygon-shed-up-to-4/articleshow/98205904.cms">Bitcoin</a> (BTC) fell 2.17% to $23,868, whereas Ethereum (ETH) was below the $1,650 level. BTC volume in the last 24 hours stood at approximately $28.71 billion, falling 0.91% in the last 24 hours.<br><a href="https://timesofindia.indiatimes.com/business/cryptocurrency/bitcoin/cryptoverse-tether-tightens-grip-on-wobbling-world-of-stablecoins/articleshow/98114498.cms">Cryptoverse</a>: Tether tightens grip on wobbling world of stable coins.<br><a href="https://timesofindia.indiatimes.com/business/cryptocurrency/bitcoin/coinbase-the-biggest-us-cryptocurrency-exchange-posts-557-million-loss-in-q4/articleshow/98141971.cms">Coinbase</a>, the biggest US cryptocurrency exchange, posts $557 million loss in Q4.</p>
          </div>
          <br>
          <h4 style="color:yellow;text-align:left;margin-left:10px">Recommended Videos to see:</h4>
            <br>
          <div class="mb-3">
                <iframe width="420" height="315" class="mr-5" src="https://www.youtube.com/embed/U3IROJkwqvo"></iframe>
                <iframe width="420" height="315" class="mr-5" src="https://www.youtube.com/embed/_VGd1jyI6es"></iframe>
          </div>
          <p class="text-white"><a href="#">Disclaimer:</a>Crypto products are unregulated and can be highly risky. There may be no regulatory recourse for any loss from such transactions.<br><a href="#">Disclaimer</a>:The Organization does not responsible for any loss in your investments.</p>
            <button class="btn btn-warning" onclick="display('section1')">Back</button>
          <div class="footer-section pt-5 pb-5 bg-dark">
            <div class="container">
                <div class="row">
                    <div class=" col-12 text-center">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLitz6xaeKVCe7npkNmWppjwpeLnNP_bUWNQ&usqp=CAU" style="height:60px;width:70px;" class="rounded-circle"/>
                        <h1 class="text-white" style="font-style:italic;">Investment plan recommendation System</h1>
                        <p class="text-white">
                          Saranathan college of Engg,panjapur,<br>
                            Trichy
                        </p>
                    </div>
                </div>
            </div>
          </div>

    </div>
    </div>







    <div id="sectionMain">
        <nav class="navbar bg-body-tertiary bg-dark shadow">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="https://thumbs.dreamstime.com/b/default-avatar-profile-flat-icon-social-media-user-vector-portrait-unknown-human-image-default-avatar-profile-flat-icon-184330869.jpg" class=" rounded-circle" style="height:30px"/></a></a>
          </div>
        </nav>

        <div class="bg-main-index" style="height:100vh">
        <div  class="text-center">
            <div class="container bg-white shadow p-3" style="border-radius:10px;background-color:#b2b1b8">
            <form name="passdata" action="." method="post" >
                 <h6 class="mt-4">Enter the Future Date: </h6>
                 <input type="date"  name="dateofbirth">
                 <br>
                 <input type="submit" value="submit" class="btn btn-warning m-2">
             </form>
             </div>
            <p><a href="#">RISK STATEMENT– </a>1)The trading of Bitcoins, alternative cryptocurrencies has potential rewards, and it also has potential risks involved.<br> Trading may not be suitable for all people. Anyone wishing to invest should seek his or her own independent financial or professional advice</p>
            <p>ideally showing your name, the amount of your holdings, the valuation of your crypto assets in USD, the date(s) of purchase and other information, could also be used to prove your ownership of crypto assets.</p>
            <button class="btn btn-warning" onclick="display('section2')">Back</button>
        </div>
        </div>
    </div>








    <script type="text/javascript" src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/js/ccbp-ui-kit.js"></script>

</body>
</html>